.container {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
  z-index: 3;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25); /* horizontal offset, vertical offset, blur, color */
  position: relative; /* So box shadow will show up */
}

.hidden {
  visibility: hidden;
}

.visible {
  display: relative;
}
